div.MainScreen {
    position: fixed;
    width: 65%;
    left: 0;
    height: 100%;
    background-color: #ffffff;
  }
  
div.SideScreen{
    position: fixed;
    width: 30%;
    left: 70%;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid black;
  }


div.LeftMargin{
  margin-left: 20px;
}

div.SectionTitle{
  color: #2079c7;
}

div.TimeText{
  margin-top: -10px;
  margin-left: 30px;
  font-size: 12px;
  color:rgb(102, 102, 102) ;
}
div.DescText{
  margin-top: -7px;
  margin-left: 30px;
  font-size: 13px;
  color: rgb(102, 102, 102)
}